#formDropdown {
  display: flex;
  margin: auto;
  width: 40%;
}
#formDropdown > div {
  width: 30%;
  margin: auto;
  margin-top: 0%;
}
#formDropdown > div:last-child {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
#formDropdown > div:last-child > span {
  margin: 5%;
}
@media only screen and (max-width: 676px) {
  #formDropdown {
    width: 70%;
  }
}
@media only screen and (max-width: 420px) {
  #formDropdown {
    width: 100%;
  }
}
